body {
    font-family: "Microsoft YaHei", Arial;
    font: 12px/1.5 arial, "\65b0\5b8b\4f53";
    color: #333;
    min-width: 1350px;
}

#gm-head #logo a {
    background: url(../img/cartlogo.png);
    background-repeat: no-repeat;
}

#gm-recommend {
    height: 320px;
    background: url(../img/recommendgoods.png);
    background-position-x: -8px;
}

#gm-cart .contain {
    height: 1000px;
    // background: pink;
}

.cart-area {
    color: #a5a5a5;
    padding: 10px 0;
    // background: blue;
}

.stockaddress {
    color: #333;
    padding-left: 3px;
    padding-right: 13px;
    line-height: 20px;
    background: url(../img/new-cart-arrow.png);
    background-repeat: no-repeat;
    background-position: right 6px;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 265px;
    border: 1px solid #a5a5a5;
    margin-top: -2px;
}

.ischecked {
    background: url(../img/sprite.png) !important;
    background-position: -642px 0 !important;
    background-repeat: no-repeat !important;
}

.cart-main-header {
    height: 44px;
    line-height: 44px;
    background: #eee;
    border: 1px solid #e6e6e6;
    border-radius: 3px;

    .cart-col-1 {
        width: 40px;
        height: 30px;
        // background: blue;
        overflow: hidden;
        float: left;

        .act-check-all-item {
            width: 14px;
            height: 14px;
            // margin-top: 16px;
            margin-left: 13px;
            background:rgba(128, 128, 128, 0.4);
            cursor: pointer;
        }
    }

    .cart-col-2 {
        width: 91px;
        float: left;
        // background: gray;
        margin-left: 13px;
    }

    .cart-col-3 {
        width: 398px;
        height: 44px;
        // background: green;
        float: left;
    }

    .cart-col-4 {
        width: 93px;
        padding-left: 22px;
        padding-right: 40px;
        float: left;
        // background: red;
    }

    .cart-col-5 {
        width: 80px;
        float: left;
        // background: yellow;
    }

    .cart-col-6 {
        text-align: right;
        padding-right: 70px;
        white-space: nowrap;
        float: left;
        width: 50px;
    }

    .cart-col-7 {
        width: 91px;
        text-align: center;
        //   background: #333;
        float: left;
    }

}

.shopping-goods-box {
    overflow: hidden;
}

.shopping-goods-header {
    height: 38px;
    line-height: 38px;
    border: 1px solid #ddd;
    margin-top: 10px;

    .shop-col-1 {
        width: 40px;
        height: 30px;
        // background: blue;
        overflow: hidden;
        float: left;

        .act-check-shop-item {
            width: 14px;
            height: 14px;
            // margin-top: 12px;
            margin-left: 13px;
            background:rgba(128, 128, 128, 0.4);
            cursor: pointer;
        }
    }

    .shop-col-2 {
        display: inline-block;
        height: 38px;
        line-height: 38px;
        max-width: 130px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-weight: 700;
        margin-left: 13px;
    }
}

.shopping-goods-content {
    height: 122px;
    border: 1px solid #ddd;
    border-top: 0;

    .content-col-1 {
        // padding: 20px 0;
        width: 40px;
        float: left;
        text-align: center;

        .act-check-item {
            width: 14px;
            height: 14px;
            margin-top: 16px;
            // margin-left: 13px;
            // background:rgba(128, 128, 128, 0.4);
            cursor: pointer;
        }
    }

    .content-col-2 {
        width: 91px;
        padding: 20px 0;
        height: 82px;
        float: left;
        margin-left: 13px;
        // background: blue;
    }

    .col3-8 {
        width: 398px;
        float: left;
    }

    .content-col-3 {
        width: 208px;
        padding: 20px 0 5px;
        float: left;
        height: 34px;
        overflow: hidden;
        text-align: center;
    }

    .content-col-8 {
        width: 180px;
        padding: 26px 0 10px 0px;
        height: 84px;
        overflow: hidden;
        color: #a7a7a7;
        float: right;
        text-align: center;
    }

    .content-col-4 {
        width: 80px;
        float: left;
        min-height: 47px;
        padding: 26px 0;
        padding-left: 22px;
        padding-right: 27px;
    }

    .content-col-5 {
        width: 80px;
        float: left;
        // background: yellow;
        // background: blue;
        padding: 26px 0;
    }

    .select-buy-box {
        height: 22px;

        .selectbtn {
            color: #ddd;
            line-height: 20px;
            border: 1px solid #ccc;
            text-align: center;
            width: 15px;
            float: left;
            font-weight: bold;
        }

        .selectnum {
            width: 44px;
            float: left;
            height: 20px;
            overflow: hidden;
            text-align: center;
            border: 1px solid #ccc;
        }
    }

    .content-col-6 {
        padding: 26px 0;
        padding-left: 5px;
        text-align: right;
        white-space: nowrap;
        text-align: center;
        width: 120px;
        font-size: 13px;
        font-weight: 800;
        float: left;
    }

    .content-col-7 {
        width: 91px;
        text-align: center;
        float: right;
        line-height: 20x;
        padding: 26px 0;

        a {
            color: #3f2a2a;

            &:hover {
                color: red;
            }
        }
    }
}
.cart-active{
    position: fixed !important;
    bottom: 0 !important;
    z-index: 99999;
}
#cart-bottom {
    width: 100%; ;
    height: 60px;
    background: #f3f3f3;
    // position: fixed;
    // bottom: 0;
    line-height: 60px;
    margin-top:20px;
    .bottom-col-1 {
        width: 40px;
        height: 30px;
        // background: blue;
        overflow: hidden;
        float: left;
        margin-top: 24px;

        .act-check-all2-item {
            width: 14px;
            height: 14px;
            margin-left: 13px;
            margin-top: -46px;
            // background:rgba(128, 128, 128, 0.4);
            cursor: pointer;
        }
    }

    .bottom-col-2 {
        width: 45px;
        float: left;
        // background: gray;
        margin-left: 13px;
    }

    .bottom-col-3 {
        height: 44px;
        // background: green;
        float: left;

        a {
            color: #333;

            &:hover {
                color: red;
            }
        }
    }

    .bottom-col-4 {
        width: 468px;
        padding-right: 10px;
        // line-height: 22px;
        text-align: right;
        float: left;
        cursor: pointer;
        margin-right: 10px;

        .cart-num {
            color: #e3101e;
            font-weight: 900;
            font-size: 14px;
            padding: 0 3px;
        }
    }

    .bottom-col-5 {
        dt {
            width: 120px;
            text-align: right;
            float: left;
        }

        dd {
            font-size: 18px;
            font-weight: 900;
            color: #e3101e;
            float: left;
        }
    }

    .bottom-col-6 {
        text-align: center;
        font-size: 16px;
        text-decoration: none;
        height: 60px;
        background: #e3101e;
        float: right;
        text-align: center;
        width: 136px;

        a {
            color: #fff;
            font-family: microsoft YaHei;
            font-size: 16px;
            font-weight: 700;
        }

    }
}